/* ------------------------------ */
/* BASIC SETUP */
/* ------------------------------ */
html {
    scroll-behavior: smooth;
    font-size: 20px;
    line-height: 1.15;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

body {
    margin: 0;
    height: 100%;
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
}

/* HEADER */


.header {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    background-color: rgb(179, 179, 236);
}

.header h1 {
    margin: auto;
    color: cornsilk;
    padding: 60px 0 0;
}

.header a {
    margin: auto;
}

/* NAVIGATION BAR */


.nav-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    background-color: white;
    z-index: 2;
}

.nav-bar h2 {

    transition: 0.6s;
    margin: 0 0 0 70px;
}

.nav-bar ul {
    margin-right: 70px;

}

.nav-bar ul li {
    display: inline-block;
    padding-left: 10px;
}

a {
    text-decoration: none;
}

.mobile-menu-link a {
    display: none;
}



/* MAIN */

.row {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 3;
    background-color: lavender;
    padding: 1rem;
}

.main {
    flex: 7;
    background-color: lightblue;
    padding: 20px;
}

.img-placeholder {
    background-color: lightcoral;
    opacity: 0.5;
    width: 100%;
}

/* STICKY NAVBAR */

.navbar-fixed {
    position: fixed;
    transition: 0.6s;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-fixed+.row {
    margin-top: 160px;
}

/* SHRINKING NAVBAR */

.navbar-shrink {
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    font-size: 1rem;
}

.curtain-menu {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: white;
    overflow-y: hidden;
    transition: 0.4s;
}


/* MOBILE LAYOUT */

@media screen and (max-width: 768px) {

    /* raw content */

    .row {
        flex-direction: column;
    }

    /* mobile menu */

    /* navbar */

    .nav-bar {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        height: 4rem;
        background-color: white;
        z-index: 2;
    }

    .nav-bar h2 {

        transition: 0.6s;
        margin: 0 0 0 70px;
    }

    .nav-bar ul {
        margin-right: 70px;

    }


    /* curtain */

    .top-part {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
    }

    .top-part a {
        font-size: 2rem;
        color: gray;
        opacity: 0.7;
    }

    .main-part {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    .mobile-nav-links {
        list-style-type: none;
        padding: 0.2rem 0;
        padding-left: -20px;
    }

    .mobile-nav-links a {
        color: gray;
    }

    .mobile-menu-link a {
        display: block;
    }

    .desktop-nav-links a {
        display: none;
    }
}